@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .select-style {
      @apply p-3 rounded-md text-2xl bg-transparent font-serif font-semibold ;
    }
    .selectdatestype{
      @apply w-[300px] h-[100px] border-4 rounded-md text-3xl border-black ;
    }
    .btn{
      @apply border-4 rounded-full py-2 px-5 font-serif font-bold border-black text-xl hover:bg-slate-300 transition duration-500 ease-in-out ;
    }
    .nav-style{
      @apply text-2xl font-semibold text-white leading-normal hover:scale-125 transition duration-500 ease-in-out ;
    }
    .flex-center{
      @apply flex justify-center items-center;
    }
    .TypeofTicketBtn{
      @apply flex-center w-full gap-2 rounded-md p-2 bg-slate-100 hover:bg-slate-200 transition duration-500 ease-in-out focus:bg-blue-500 focus:text-white ;
    }

    .BlueBtn{
      @apply  rounded-md p-2 bg-blue-600 text-white font-semibold hover:bg-blue-800 transition duration-500 ease-in-out ;
    }

    .effect{
      @apply  transition duration-500 ease-in-out ;
    }

    .overflow1{
      @apply overflow-hidden text-nowrap  text-ellipsis whitespace-nowrap;
    }
  }